<template>
  <div class="navigation__wrapper">
    <router-link to="/">Home</router-link>
    <router-link to="/about-us">About us</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>